<!-- reviews-index -->
<h1>Reviews</h1>
{{#each reviews}}
  <h2>{{this.title}}</h2>
  <small>{{this.movieTitle}}</small>
{{/each}}

<!-- views/reviews-index.handlebars -->

<h1>Reviews</h1>

<a href="/reviews/new">New Review</a>

{{#each reviews}}
  <h2>{{this.title}}</h2>
  <small>{{this.movieTitle}}</small>
{{/each}}

<form method="POST" action="/reviews">
  <fieldset>
    <legend>New Review</legend>
    <!-- TITLE -->
    <p>
      <label for="title">Title</label><br>
      <input type="text" name="title" />
    </p>
  </fieldset>

  <p>
  <button type="submit">Save Review</button>
</p>

</form>


    <!-- MOVIE TITLE -->
    <p>
      <label for="movie-title">Movie Title</label><br>
      <input id="movie-title" type="text" name="movieTitle" />
    </p>

    <!-- DESCRIPTION -->
    <p>
      <label for="description-text">Description</label><br>
      <textarea id="description-text" name="description" rows="10" /></textarea>
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Review</button>
  </p>

</form>

<!-- views/reviews-index.handlebars -->

<h1>Reviews</h1>

<a href="/reviews/new">New Review</a>

{{#each reviews}}
  <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
  <small>{{this.movieTitle}}</small>
{{/each}}

<h1>{{review.title}}</h1>
<h2>{{review.movieTitle}}</h2>
<p>{{review.description}}</p>

<a href="/">Back to Home</a>

<h1>{{review.title}}</h1>
<h5>{{review.movieTitle}}</h5>
<p>{{review.description}}</p>

<h1>{{review.title}}</h1>
<h2>{{review.movieTitle}}</h2>
<p>{{review.description}}</p>

<p><a href="/reviews/{{review._id}}/edit">Edit</a></p>

<!-- views/reviews-index.handlebars -->

<h1>Reviews</h1>

<div class="row">
  {{#each reviews}}
    <div class="col-sm-3">
      <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
      <small>{{this.movieTitle}}</small>
    </div>
  {{/each}}
</div>
